*{
    font-family: 'Poppins', sans-serif;
  }
  
  .contact-details{
      display: block;
      padding: 10px 30px 0px!important;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px
  }
  .contact-font{
      color: rgb(192, 196, 207);
  }
  .contact-details>a{
      text-decoration: none!important;
  }
  div:empty {
      display: none;
   }
  .material-icons{
      font-size: 16px!important;
      margin: 5px;
      font-weight: 900;
      line-height: 16px;
      color: rgb(30, 73, 172)
  }
  .navigation-menu{
      color: #595f6e!important;
      font-weight: 700;
  }
  
  .navbar-light .navbar-nav .active>.nav-link{
      color:#0056b3!important;
  }
  .main-bg{
      width: 100%;
      position: relative;
      height: 700px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../images/home-bg.jpg"); 
  }
  .bg-txt { 
      position: absolute; 
      top: 30%;    
      color: #fff;
  } 
  .first-txt{
      font-weight: 400;
      font-size: 18px;
  }
  .second-txt{
      font-weight: 600;
      padding-bottom: 20px;
      font-size: 60px;
  }
  .card-position{
      position: relative;
      margin-top:-6%;
      margin-bottom: 10%;
  }
  .card-body>img{
      height: 50px;
      margin-bottom: 10px;
  }

  .pro-title{
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      color: rgb(19, 56, 140);    
  }
  .bottom{
      margin:10% 0 5% 0;
  }
  .lab-title, .about-head, .services-head{
      font-size: 44px;
      font-weight: 500;
      line-height: 52px;
      color: rgb(19, 56, 140);
  }
  .lab-font, .pro-font, .about-lab, .about-test, .services-lab {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: rgb(89, 95, 110);
      
  }
  .lab-font{
      margin:20px 0px 20px 0; 
  }
  .services>div{
          font-size: 16px;
          font-weight: 600;
          margin: 5% 10% 2% 2%;
          color: rgb(19, 56, 140);    
      
  }
  .testings>img{
      width: 100%;
      height:auto;
  }
  .testings-font{
      font-size: 24px;
      font-weight: 500;
      line-height: 24px;
      color: rgb(19, 56, 140);
      margin: 5% 0% 5% 0%;
  }
  .testings-bottom,.testings-btn {
      margin:5% 0 5% 0;
  }
  .lab-img>img{
      position: absolute;                    
  }
  .lab-img>div{
      position: relative;
      
  }
  .service-font{
      margin-top: 10%;
      padding: 10% 0 25% 0;
      font-size: 44px;
      font-weight: 500;
      line-height: 52px;
      color: rgb(255, 255, 255);
     
  }
  .details{
      background-color: #3367C6;
      position: relative;
      color: white;
      height: 100%;
      padding: 70px;
      margin-top: -25%;
      margin-bottom: 10%;
  }
  
  .details-title{
      font-size: 30px;
      font-weight: 500;
      line-height: 36px;
  }
  .details-content{
      padding-top: 5%;
  }
  .customers{
      font-size: 36px;
      font-weight: 500;
      line-height: 43.2px;
      color: rgb(19, 56, 140);
  }
  .count{
      font-size: 72px;
      font-weight: 600;
      line-height: 100.8px;
      margin: 5% 0 1% 0;
      color: rgb(30, 73, 172);
  }
  .count-details{
      font-size: 22px;
      font-weight: 500;
      line-height: 33px;
      color: rgb(89, 95, 110);
      margin-bottom: 15%;
  }
  .footer-bg{
    background-image: url("../images/home-6.png");  
    width: 100%;
      background-size: cover;
      /* position: absolute; */
  }
  .content{
      font-size: 30px;
      font-weight: 500;
      line-height: 30px;
      color: rgb(255, 255, 255);
  }
  .content-item{
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      color: rgb(255, 255, 255)
  }
  .content-group{
      padding: 40px 0 40px 0px;
   
  }
  .home-col{
    color: #3367C6;
  }
  .footer-btn{
      text-align: right;
  }
  .main-footer{
      background-color: #3367C6;
      height: 100%;
      margin-right: 0!important;
      color: rgb(255, 255, 255);
      padding: 50px 0px;
  }
  .footer-title{
      font-weight: 500;
      line-height: 18px;
      font-size: 18px;
  }
  .footer-items{
      font-size: 14px;
      padding-top: 20px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(220, 223, 230);
  
  }
  .footer-items>li{
   list-style-type: none;
  }
  
  /* for about page */
  
  .about-icons{
    color: white!important;
  }
  .about-bg{
      position: absolute;
      background-size: auto;
      background-repeat: no-repeat;   
  }
.about-navigation-menu{
    color: white;
    
    font-weight: 700;
}
.about-nav>.navbar-light .navbar-nav .active>.nav-link{
    color:rgb(30, 73, 172)!important;
}
.about-nav>.navbar-light .navbar-nav .nav-link {
    color: white!important;
}
  .about-bg>img{
    width:100%;
  }
  .about-over{
     background-image: url("../images/services-bg.png");
          position: relative;
          background-size: cover;
  }
  .about-title{
      position: relative;
      color: white;
      padding-top: 100px;
      padding-bottom: 35px;
  }
.about-lab{
      padding: 0px 50px 70px 50px;
  }
.about-font{
      padding: 20px 100px 50px 100px;
  }
.lab-history{
      margin-right: 0!important;
      background-color: #EEEEEE;
      height: 100%;
  }
  .lab-history>img{
      height: 100%;
  }
.pad, .pad-1{
      padding-left: 0!important;
      padding-right: 0!important;      
      background-size: cover;
      background-position: right;
      height: 600px!important;    
      width: 100%;
    }
.pad{
    background-image: url("../images/about-2.png");
}

.pad-1{
    background-image: url("../images/about-1.png");

}    
.card-testimonials>img{
      height: 100px;
      width: 100px;
      margin: 15% 25% 0%;
}
.card-deck, .card-deck{
    margin-bottom: 20%;
}
.about-head{
    padding: 50px 0px 25px 0px;
}

/* servic page */
.services-font{
padding-top: 50px;
padding-left: 50px!important;
}

.services-1{
    background-image: url("../images/services-1.jpg");
    height: 700px;
    background-position: right;
}

/* contact page */

.contact-form{
    margin:5% 0 5% 0;
}


@media screen and(min-width:480px){
    .service-font{
        padding: 25px 0 25px 0!important;
    }
}
@media screen and (min-width :480px) and (max-width :768px){
    .footer-title{
        padding:10px;
        text-align: center!important;
    }
}
@media screen and (min-width : 576px) and  (max-width:768px){
    .footer-btn>button{
        margin-top: 25px!important;
        font-size:18px!important;
    }
}
@media screen and (min-width:576px) and (max-width:992px){
    .container{
        max-width: 100%!important;
    } 
}
@media screen and (min-width:768px) and (max-width:986px){
    .lab-title{
    font-size: 34px!important;
    line-height: 38px!important;
}
}

@media screen and (min-width:992px){
    .navigation-menu, .about-navigation-menu{
        padding-left: 200px!important;
      }

}

@media screen and (min-width:992px) and (max-width:1200){
    .container{
        max-width: 100%!important;
    }
}
  @media only screen and (max-width: 1024px)  {
    .main-bg{
        height: 600px!important;
    }
    .home-1{
        width: 100%!important;
    }
    .contact-details, hr {
          display: none !important;
      }
      .bg-txt{
          top:30%!important;
      } 
      .second-txt{
          font-size: 30px!important;
      } 

      .service-font{
          padding: 10% 0 22% 0!important;
      }
      .card{
          margin-bottom: 20px;
      }
     
      .content-group{
          padding:20px!important;

      }
      .footer-btn{
          padding-top: 10px!important;
      }
      .about-title{
          padding-bottom: 55px!important;
      }

  }


  @media only screen and (max-width: 767px) {
    .main-bg{
        height: 500px!important;
    }
    .service-font{
        margin-top: 10%;
        padding: 25px 0 110px 0!important;
        font-size: 26px!important;
        line-height: 30px;
    }
    .services-font{
        padding-top: 50px;
        padding-left: 40px!important;
        }
    .details{
        margin-top: -18%!important;
        padding: 50px!important;
    }
    .navigation-menu, .about-navigation-menu {
        padding-left: 0px!important;
    }
    .details-title{
        font-size: 25px!important;
    }
    .content{
        font-size: 20px!important;
        padding-top:20px!important;
    }
    .content-group{
        padding: 4px 0 10px 0!important;
    }
    .footer-btn{
     
        padding-top: 10px!important;
    }
    .home-1{
        width: 100%!important;
    }
    
    .about-title{
        padding-top: 42px!important;
        padding-bottom: 35px!important;
    }
  }



  @media only screen and (max-width: 480px) {
    .main-bg{
        height: 300px!important;
    }
    .bg-txt {
        top: 14%!important;
  }
    .first-txt{
        font-size: 14px!important;
    }
    .second-txt{
        font-size: 20px!important;
    }
    .home-1{
        width: 100%!important;
        margin-top: 40px!important;
    }
    .service-font{
        font-size: 18px!important;
        line-height: 28px!important;
        padding: 8% 0px 9% 0!important;
    }
    .details{
        margin-top: -10%!important;
        padding: 40px!important;
        height: 100%!important;
    }
    .details-title{
        font-size: 18px!important;
    }
    .details-content{
        font-size: 12px;
    }
    .det{
        padding-top: 10px;
    }
    .content-group{
        padding-top: 5px!important;
    }
    .content{
        font-size: 24px!important;
    }
    .content-item{
        font-size: 12px!important;
    }
    .main-footer{
        height: 100%!important;
    }
    .footer-title{
        padding-top: 10%;
        text-align: center;
    }
    .about-bg>img {
        width: 100%!important;
        height: 220px!important;
    }
    .about-font {
        padding: 20px 30px 30px 30px!important;
    }
    .about-title{
        padding-bottom: 35px!important;
    }
    .services-lab {
        padding: 20px!important;
    }    
    .services-head{
        padding-left: 20px;
    }
    .footer-btn{
        
        padding-top: 10px!important;
    }


}
@media screen and (max-width :320px) {
    .bg-txt {
        top: 12%!important;
    }
    .home-1{
        width: 100%!important;
    }
    .details{
        height: 100%!important;
    }
    .service-font{
        padding: 5% 0px 9% 0!important;
    }
    .content {
        font-size: 18px!important;
    }
    .content-item {
        font-size: 10px!important;
    }
    .footer-btn {
        padding-top: 10px!important;
    }
    .about-title{
        padding-bottom: 35px!important;
    }
} 
  

